# Directories
/runs/
/test_videos/
/__pycache__/

# Incluir todos los directorios y subdirectorios
!/models/**
!/models/**/
!/datasets/**
!/datasets/**/
!/coco_converted/**
!/coco_converted/**/
!/shiny_salmon_models/**
!/shiny_salmon_models/**/

# Ignorar todos los archivos en estos directorios
/models/**/*.*
/datasets/**/*.*
/coco_converted/**/*.*
/shiny_salmon_models/**/*.*



# Files
supersecrets.py
yolov8n.pt

# PyCharm
.idea/

# VS Code
.vscode/

